.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
input {
  width: 20rem;
  padding: 0.3rem;
  margin: 1.5rem 1rem 0 0;
}
select {
  margin: 1.5rem 1rem 0 0;
  width: 10rem;
}
input[type="text"] {
  border: 0.1rem solid #bcbcbc;
  transition: width 0.2s;
}
input[type="text"]:focus {
  width: 100%;
}
.submitButton {
  margin-top: 1.5rem;
  width: 10rem;
}
.containerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.afterUploadparagraph {
  color: darkgreen;
  font-weight: 600;
  font-size: 1.2rem;
}
